---
import Logo from "@/assets/logo.svg";
import { ArrowLeftIcon } from "lucide-react";
import Tag from "@/components/content/tag.astro";
import MainLayout from "@/components/layouts/main-layout.astro";
import SectionHeader from "@/components/content/section-header.astro";
import { getAllTags, getLatestPosts, getPostPath } from "@/utils/blog";

const tags = await getAllTags();
const posts = await getLatestPosts();
---

<MainLayout title="Blog Posts">
  <div class="pb-4 text-sm flex items-center justify-between select-none">
    <a href="/" class="flex items-center">
      <ArrowLeftIcon className="w-4 mr-2" />
      <span class="flex-1 capitalize">Home</span>
    </a>
    <div class="flex items-center">
      <a href="/" title="Home"><Logo /></a>
    </div>
  </div>
  <div id="blog" class="space-y-6">
    <div class="space-y-4 md:space-y-6 py-4">
      <SectionHeader title="Topics" description="Explore any topics" />
      <div class="flex flex-wrap items-center">
        {tags.map(tag => <Tag className="mb-4 mr-2" tag={tag} />)}
      </div>
    </div>
    <div class="space-y-6">
      <SectionHeader title="Blog" description="Sorted by date" />
      <ul class="space-y-5">
        {posts.map(post => (
          <li
            class="text-sm text-foreground flex flex-col-reverse items-start border-b border-input md:border-none md:flex-row md:items-center md:space-x-4"
          >
            <div class="flex whitespace-nowrap space-x-4">
              <div
                class="select-none font-mono mb-1 px-2 bg-primary text-primary-foreground md:mb-0 md:px-0 md:bg-inherit md:text-foreground"
              >
                {post.data.date.toISOString().split("T")[0]}
              </div>
              <div
                class="select-none text-primary-foreground text-xs font-bold min-w-max hidden md:flex md:items-center"
              >
                <Tag tag={post.data.tags[0] ?? "no tags"} />
              </div>
            </div>
            <div
              class="line-clamp-2 mb-2 md:line-clamp-1 md:mb-0 md:underline hover:cursor-pointer"
            >
              <a href={getPostPath(post.slug)}>{post.data.title}</a>
            </div>
          </li>
        ))}
      </ul>
    </div>
  </div>
</MainLayout>
