---

interface Props {
  tag: string;
  className?: string;
}

const { tag, className } = Astro.props;
---

<div class={`flex items-center ${className}`}>
    <div
      class="bg-primary text-primary-foreground text-xs font-bold font-mono py-0.5 px-2 cursor-pointer select-none"
    >
      {tag}
    </div>
  </div>
