---
import { Icon } from "astro-icon/components";
import type { Collection } from "types";
import Logo from "./Logo.astro";

interface Props {
	subitem?: Collection;
}

const { subitem } = Astro.props;
---

<div class="pb-4 text-sm flex items-center justify-between select-none">
  <a href={`/${subitem ?? ""}`} class="flex items-center">
    <Icon class="w-4 mr-2" name="ph:arrow-left" />
    <span class="flex-1 capitalize">{subitem ?? "Home"}</span>
  </a>
  <div class="flex items-center">
    <a href="/" title="Home"><Logo /></a>
  </div>
</div>
