---
import BlogList from "@components/blog/BlogList.astro";
import Nav from "@components/layout/Nav.astro";
import SectionHeader from "@components/layout/content/SectionHeader.astro";
import TagC from "@components/layout/content/Tag.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getAllTags, getPostsByTag } from "@utils/blog";

// static paths
export async function getStaticPaths() {
	let tags = await getAllTags();
	return tags.map((tag) => ({
		params: { tag: tag },
		props: { tag },
	}));
}

// astro pages
const { tag } = Astro.props;

let tags = await getAllTags();

tags = tags.filter((name) => name !== tag);

const posts = await getPostsByTag(tag);
---

<MainLayout title={`Showing all content from "${tag}"`}>
  <Nav />
  <div id="blog" class="space-y-6">
    <div class="space-y-4 md:space-y-6 py-4">
      <SectionHeader title={`Tag: "${tag}"`} />
      <div class="flex flex-wrap items-center">
        {tags.map(tag => <TagC class:list="mb-4 mr-2" tag={tag} />)}
      </div>
    </div>
    <BlogList posts={posts} />
  </div>
</MainLayout>
