---

import Logo from "@/assets/logo.svg";
import { HouseIcon } from "lucide-react";
import BaseLayout from "@/components/layouts/base-layout.astro";
---

<BaseLayout title="No resources found">
  <div class="h-screen flex items-center justify-center">
    <div class="flex items-center justify-center">
      <div class="flex flex-col items-center space-y-8">
        <img src={Logo.src} alt="Logo" style="width: 64px; height: 64px;" />
        <div class="font-mono text-sm">
          No Resource Found - {Astro.url.pathname}
        </div>
        <a
          href="/"
          class="flex items-center border border-border py-1 px-2 rounded-sm"
        >
          <HouseIcon className="w-6 mr-2" />
          <span class="font-mono text-sm">jafaraziz.com</span>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
