---
import { SITE } from "config";
import SocialLinks from "./SocialLinks.astro";
---

<div id="hero" class="mb-12">
  <div class="py-8">
    <h1 class="space-y-2 lg:space-y-4">
      <div class="text-2xl lg:text-6xl font-mono font-extrabold text-gray-800">
        Hi, I am
      </div>
      <div class="relative">
        <div class="text-4xl lg:text-8xl font-extrabold flex">
          <div class="bg-gray-800 px-4 lg:px-8 text-white">{SITE.author}</div>
        </div>
      </div>
    </h1>
  </div>
  <div class="prose">
    <p>
      Welcome to my website! I am a web developer, a Typescript user
      (React/Next.js & Express), Laravel, and Java (Kotlin).
    </p>
    <p>
      I am not expert, but I know a little bit about statistics, data science,
      and data scraping with R and Python. Currently, I am working as Software
      Engineer at <strong>Statistics Indonesia</strong>
    </p>
    <p>
      I want to share my knowledge and experiences through this website. You can
      also follow me on <SocialLinks />
    </p>
  </div>
</div>
