---
import Nav from "@components/layout/Nav.astro";
import Tag from "@components/layout/content/Tag.astro";
import type { BlogFronmatter } from "content/_schemas";
import type { LayoutProps } from "types";
import MainLayout from "./MainLayout.astro";

type BlogLayoutProps = LayoutProps & BlogFronmatter;

interface Props extends BlogLayoutProps {
	slug: string;
}

const { title, date, tags, slug } = Astro.props;
---

<MainLayout {...Astro.props}>
  <Nav subitem="blog" />
  <div class="mb-6 mt-2 border-b">
    <div class="text-xs text-gray-700 mb-2">
      {
        date.toLocaleDateString("en-US", {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </div>
    <div class="space-y-4">
      <h1
        class="font-bold text-gray-700 text-2xl leading-relaxed lg:text-4xl lg:leading-tight"
      >
        {title}
      </h1>
      <div class="flex flex-wrap items-center">
        {tags.map(tag => <Tag className="mb-4 mr-2" tag={tag} />)}
      </div>
    </div>
  </div>
  <article
    class="mt-2 mb-8 prose prose-headings:text-gray-700 prose-img:m-auto"
  >
    <slot />
  </article>
  <script
    src="https://giscus.app/client.js"
    data-repo="JfrAziz/jafaraziz.com"
    data-repo-id="R_kgDOJH8bCA"
    data-category="General"
    data-category-id="DIC_kwDOJH8bCM4CWoGI"
    data-mapping="title"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</MainLayout>
