---
import type { LayoutProps } from "types";
import BaseLayout from "./BaseLayout.astro";
import FooterIcon from "@components/layout/FooterIcon.astro";

export type Props = LayoutProps;
---

<BaseLayout {...Astro.props}>
  <div class="max-w-2xl m-auto px-4 md:px-2 py-4">
    <main class="mb-4">
      <slot />
    </main>
    <footer
      class="border-t text-sm font-mono pt-2 text-gray-700 flex justify-between items-center"
    >
      <span class="flex-1">{new Date().getFullYear()} - Jafar Aziz</span>
      <div class="flex justify-center items-center space-x-2 md:space-x-3">
        <FooterIcon name="twitter" href="https://www.twitter.com/jfraziz/" />
        <FooterIcon name="github" href="https://www.github.com/jfraziz/" />
        <FooterIcon
          name="linkedin"
          href="https://www.linkedin.com/in/jfraziz/"
        />
      </div>
    </footer>
  </div>
</BaseLayout>
